body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start
  align-items: center;
}

#main {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}

#game-content {
  flex: 1;
  max-width: 50%;
}

#chat-container {
  flex: 1;
  max-width: 50%;
}

#chatbox {
  height: 500px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}