<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <title>Traitors Game</title>
    <script>

      var socket;

      function sendChat() {
        console.log('sendChat() called');
        var message = $('#chatinput').val();
        if (message) {
          socket.emit('message', {'sender': '{{ session["player_name"] }}', 'message': message});
          $('#chatinput').val('');
        }
      }

      $(document).ready(function() {
        // Display chat messages
        var chat_messages = {{ chat_messages|tojson|safe }};
        for (var i = 0; i < chat_messages.length; i++) {
          var message = chat_messages[i];
          var sender = message['sender'];
          var text = message['message'];
          var html = '<p><strong>' + sender + ':</strong> ' + text + '</p>';
          $('#chatbox').append(html);
        }

        // Scroll to latest chat message
        $('#chatbox').scrollTop($('#chatbox').prop('scrollHeight'));

        // Connect to the WebSocket server
        socket = io.connect('http://' + document.domain + ':' + location.port);

        // Receive messages from the server
        socket.on('message', function(data) {
          console.log('Received message:', data);
          chat_messages.push(data);
          var sender = data['sender'];
          var text = data['message'];
          var html = '<p><strong>' + sender + ':</strong> ' + text + '</p>';
          $('#chatbox').append(html);
          // Scroll to latest chat message
          $('#chatbox').scrollTop($('#chatbox').prop('scrollHeight'));
        });
      });
    </script>
  </head>
  <body>
    <h1>Traitors Game</h1>
    <h2>Players:</h2>
    <form action="/results" method="post">
      {% for player in players %}
      <label>
        <input type="checkbox" name="{{ player }}" value="{{ player }}">
        {{ player }}{% if player in traitors %} (Traitor){% endif %}
      </label>
      <br>
      {% endfor %}
      <br>
      <input type="submit" value="Submit">
    </form>

    <h2>Chat:</h2>
    <div id="chatbox"></div>
    <form onsubmit="sendChat(); return false;">
      <input type="text" id="chatinput">
      <input type="submit" value="Send">
    </form>
  </body>
</html>
